In [3]:
import pandas as pd

#### a) Ler o dataset fakeTelegram.BR_2022.csv

In [4]:
df = pd.read_csv("../data/fakeTelegram.BR_2022.csv")
df.head()

,date_message,id_member_anonymous,id_group_anonymous,media,media_type,media_url,has_media,has_media_url,trava_zap,text_content_anonymous,dataset_info_id,date_system,score_sentiment,score_misinformation,id_message,message_type,messenger,media_name,media_md5
0,2022-10-05 06:25:04,1078cc958f0febe28f4d03207660715f,12283e08a2eb5789201e105b34489ee7,NaN,NaN,NaN,False,False,False,Então é Fato Renato o áudio que eu ouvi no wha...,5,2022-10-05 06:25:28.863641,0.0000,NaN,16385,Texto,telegram,NaN,NaN
1,2022-10-05 06:25:08,NaN,12283e08a2eb5789201e105b34489ee7,NaN,NaN,NaN,False,False,False,"Saiu no YouTube do presidente a 8 horas atrás,...",5,2022-10-05 06:25:28.926311,0.0644,NaN,16386,Texto,telegram,NaN,NaN
2,2022-10-05 06:26:28,92a2d8fd7144074f659d1d29dc3751da,9f2d7394334eb224c061c9740b5748fc,NaN,NaN,NaN,False,False,False,"É isso, nossa parte já foi quase toda feita. N...",5,2022-10-05 06:26:29.361949,-0.3551,0.157242,16366,Texto,telegram,NaN,NaN
3,2022-10-05 06:27:28,d60aa38f62b4977426b70944af4aff72,c8f2de56550ed0bf85249608b7ead93d,94dca4cda503100ebfda7ce2bcc060eb.jpg,image/jpg,NaN,True,False,False,GENTE ACHEI ELES EM UMA SEITA MAÇONÁRICA,5,2022-10-05 06:27:29.935624,0.0000,NaN,19281,Imagem,telegram,NaN,94dca4cda503100ebfda7ce2bcc060eb
4,2022-10-05 06:27:44,cd6979b0b5265f08468fa1689b6300ce,e56ec342fc599ebb4ed89655eb6f03aa,5ad5c8bbe9da93a37fecf3e5aa5b0637.jpg,image/jpg,NaN,True,False,False,NaN,5,2022-10-05 06:28:29.316325,NaN,NaN,507185,Imagem,telegram,NaN,5ad5c8bbe9da93a37fecf3e5aa5b0637

b) Identificar e listar as posições (células) contendo valores faltantes.

In [4]:
null_cells = [
    f"Valor nulo na linha {i} e coluna {j}"
    for i in range(df.shape[0])
    for j in range(df.shape[1])
    if pd.isnull(df.iat[i, j])
]

print("Listando apenas as 20 primeiras células nulas (pois há muitos valores)")
print(*null_cells[:20], sep ='\n')

Listando apenas as 20 primeiras células nulas (pois há muitos valores)
Valor nulo na linha 0 e coluna 3
Valor nulo na linha 0 e coluna 4
Valor nulo na linha 0 e coluna 5
Valor nulo na linha 0 e coluna 13
Valor nulo na linha 0 e coluna 17
Valor nulo na linha 0 e coluna 18
Valor nulo na linha 1 e coluna 1
Valor nulo na linha 1 e coluna 3
Valor nulo na linha 1 e coluna 4
Valor nulo na linha 1 e coluna 5
Valor nulo na linha 1 e coluna 13
Valor nulo na linha 1 e coluna 17
Valor nulo na linha 1 e coluna 18
Valor nulo na linha 2 e coluna 3
Valor nulo na linha 2 e coluna 4
Valor nulo na linha 2 e coluna 5
Valor nulo na linha 2 e coluna 17
Valor nulo na linha 2 e coluna 18
Valor nulo na linha 3 e coluna 5
Valor nulo na linha 3 e coluna 13

#### c) Contar quantas linhas possuem valores faltantes.

In [5]:
total_rows = df.shape[0]
rows_without_nulls = df.dropna().shape[0]
total_rows - rows_without_nulls

557561

#### d) Para cada coluna (feature), contar quantas linhas possuem valores faltantes.

In [6]:
null_rows = df.isna()
null_rows.sum()

date_message                   0
id_member_anonymous       323341
id_group_anonymous             0
media                     224981
media_type                224981
media_url                 400141
has_media                      0
has_media_url                  0
trava_zap                      0
text_content_anonymous    113385
dataset_info_id                0
date_system                    0
score_sentiment           113429
score_misinformation      390348
id_message                     0
message_type                   0
messenger                      0
media_name                528599
media_md5                 224981
dtype: int64

#### e) Identificar e listar as linhas repetidas (duplicadas).

In [5]:
duplicated = df.duplicated(
    subset=["date_message", "text_content_anonymous", "id_member_anonymous", "id_group_anonymous", "id_message"]
)
duplicated.sum()

np.int64(379)

In [7]:
duplicated_rows = df[duplicated]
duplicated_rows

,date_message,id_member_anonymous,id_group_anonymous,media,media_type,media_url,has_media,has_media_url,trava_zap,text_content_anonymous,dataset_info_id,date_system,score_sentiment,score_misinformation,id_message,message_type,messenger,media_name,media_md5
81069,2022-10-17 09:51:32,1665e22b0f564cd46d343f7677014821,7b881a0281c00185ff095012fbeb8001,NaN,NaN,https://t.me/ipiranoticias,False,True,False,Bem vindo(a) ao grupo Ipirá Notícias. \n\nComp...,5,2022-10-17 11:42:49.178559,0.2732,NaN,9138,Texto,telegram,NaN,NaN
81146,2022-10-17 10:36:02,NaN,4c6519d965020abc048521dfa837b9bb,NaN,NaN,NaN,False,False,False,Laurens Kamp:\n As pessoas estão ganhando dinh...,5,2022-10-17 11:42:49.63718,0.7351,0.254144,85000,Texto,telegram,NaN,NaN
81168,2022-10-17 11:24:36,3e49fd40fd973ee1b8f1a6d58feb4a54,4c6519d965020abc048521dfa837b9bb,NaN,NaN,NaN,False,False,False,As criptomoedas usadas no sorteio são lucros o...,5,2022-10-17 11:42:51.357209,0.6705,NaN,85006,Texto,telegram,NaN,NaN
81169,2022-10-17 11:22:38,3e49fd40fd973ee1b8f1a6d58feb4a54,4c6519d965020abc048521dfa837b9bb,NaN,NaN,NaN,False,False,False,É uma plataforma de investimento em moeda crip...,5,2022-10-17 11:42:51.422999,0.2732,0.074936,85004,Texto,telegram,NaN,NaN
81176,2022-10-17 11:23:15,NaN,4c6519d965020abc048521dfa837b9bb,NaN,NaN,NaN,False,False,False,"Desculpe perguntar, mas onde eles obtêm as moe...",5,2022-10-17 11:42:52.048995,0.1531,NaN,85005,Texto,telegram,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532493,2022-10-30 13:52:37,NaN,ad3f0a22b54ca519331d2ce0b168c525,373cc497461b1d3888038c93737a131d.jpg,image/jpg,NaN,True,False,False,NaN,5,2022-10-30 16:34:27.81709,NaN,NaN,1869,Imagem,telegram,NaN,373cc497461b1d3888038c93737a131d
532499,2022-10-30 16:12:37,NaN,60bc602dd52f3be65e8ecd436a178573,a8e5bb4ad8f1164e2296da7f94246810.jpg,url,https://brasilsemmedo.com/moraes-manda-tirar-d...,True,True,False,😣🤯🤐 Alexandre de Moraes (Secretário-Geral do P...,5,2022-10-30 16:35:02.362799,-0.9409,0.850506,19115,Url,telegram,NaN,a8e5bb4ad8f1164e2296da7f94246810
532500,2022-10-30 16:21:59,NaN,7b881a0281c00185ff095012fbeb8001,d25c2a83551c3b686ec8ac3123190a87.jpg,url,https://ipiranoticias.com/municipios/feira-de-...,True,True,False,https://ipiranoticias.com/municipios/feira-de-...,5,2022-10-30 16:35:02.595751,0.0000,NaN,9532,Url,telegram,NaN,d25c2a83551c3b686ec8ac3123190a87
532501,2022-10-30 16:19:18,NaN,d9c080b9db8cd9d0e88e870ce782c01a,2ad90d7c718e37c275cab61d322b4e90.jpg,url,https://youtu.be/lLlih1GbSBI,True,True,False,https://youtu.be/lLlih1GbSBI,5,2022-10-30 16:35:02.87755,0.0000,NaN,327563,Url,telegram,NaN,2ad90d7c718e37c275cab61d322b4e90
532502,2022-10-30 14:33:30,66189e6c7759b58489f16222b21b4d8b,60bc602dd52f3be65e8ecd436a178573,0872683ce8272dad39d9f639ead1ffa8.jpg,image/jpg,NaN,True,False,False,NaN,5,2022-10-30 16:35:30.909564,NaN,NaN,19111,Imagem,telegram,NaN,0872683ce8272dad39d9f639ead1ffa8

#### f) Identificar e listar as posições (células) contendo valores que não pertencem ao domínio (tipo de dados) esperado.

#### g) Crie uma coluna chamada “caracteres” contendo a quantidade de caracteres da coluna “text”.

In [10]:
df["caracteres"] = df["text_content_anonymous"].apply(lambda x: 0 if pd.isnull(x) else len(x))
df[["text_content_anonymous", "caracteres"]].head(10)

                              text_content_anonymous  caracteres
0  Então é Fato Renato o áudio que eu ouvi no wha...         110
1  Saiu no YouTube do presidente a 8 horas atrás,...         141
2  É isso, nossa parte já foi quase toda feita. N...         350
3           GENTE ACHEI ELES EM UMA SEITA MAÇONÁRICA          40
4                                                NaN           0
5  Kķkkkkk to rindo até agora....Quem disse q ia ...         133
6  *SE ALGUÉM TE PERGUNTAR O QUE FOI QUE BOLSONAR...        3669
7                                                NaN           0
8                                                NaN           0
9  O Deputado Federal pelo NOVO e que foi candida...        1242

#### h) Crie uma coluna chamada “words” contendo a quantidade de palavras da coluna “text”.

In [12]:
df["words"] = df["text_content_anonymous"].apply(lambda x: 0 if pd.isnull(x) else len(x.split()))
df[["text_content_anonymous", "words"]].head(10)

                              text_content_anonymous  words
0  Então é Fato Renato o áudio que eu ouvi no wha...     20
1  Saiu no YouTube do presidente a 8 horas atrás,...     23
2  É isso, nossa parte já foi quase toda feita. N...     59
3           GENTE ACHEI ELES EM UMA SEITA MAÇONÁRICA      7
4                                                NaN      0
5  Kķkkkkk to rindo até agora....Quem disse q ia ...     25
6  *SE ALGUÉM TE PERGUNTAR O QUE FOI QUE BOLSONAR...    618
7                                                NaN      0
8                                                NaN      0
9  O Deputado Federal pelo NOVO e que foi candida...    153

 #### i) Crie uma coluna chamada “viral” contendo o valor 0 se o texto da mensagem (valor do campo “text”) não for encontrado em outras linhas e 1, caso contrário.

In [14]:
text_frequency = df["text_content_anonymous"].value_counts()
viral_texts = (text_frequency [text_frequency > 1]).index
df["viral"] = df["text_content_anonymous"].isin(viral_texts)
df[["text_content_anonymous", "viral"]].head(10)

                              text_content_anonymous  viral
0  Então é Fato Renato o áudio que eu ouvi no wha...  False
1  Saiu no YouTube do presidente a 8 horas atrás,...  False
2  É isso, nossa parte já foi quase toda feita. N...  False
3           GENTE ACHEI ELES EM UMA SEITA MAÇONÁRICA  False
4                                                NaN  False
5  Kķkkkkk to rindo até agora....Quem disse q ia ...  False
6  *SE ALGUÉM TE PERGUNTAR O QUE FOI QUE BOLSONAR...  False
7                                                NaN  False
8                                                NaN  False
9  O Deputado Federal pelo NOVO e que foi candida...  False

#### j) Crie uma coluna chamada “sharings” contendo a quantidade de vezes que o texto armazenado no atributo “text” aparece no dataset.

In [16]:
df["sharings"] = df["text_content_anonymous"].map(text_frequency)
df[["text_content_anonymous", "sharings"]].head(10)

                              text_content_anonymous  sharings
0  Então é Fato Renato o áudio que eu ouvi no wha...       1.0
1  Saiu no YouTube do presidente a 8 horas atrás,...       1.0
2  É isso, nossa parte já foi quase toda feita. N...       1.0
3           GENTE ACHEI ELES EM UMA SEITA MAÇONÁRICA       1.0
4                                                NaN       NaN
5  Kķkkkkk to rindo até agora....Quem disse q ia ...       1.0
6  *SE ALGUÉM TE PERGUNTAR O QUE FOI QUE BOLSONAR...       1.0
7                                                NaN       NaN
8                                                NaN       NaN
9  O Deputado Federal pelo NOVO e que foi candida...       1.0

#### k) Crie uma coluna chamada “sentiment” contendo os valores: -1 para textos negativos, 0 para textos neutros e 1 para textos positivos

In [17]:
df["sentiment"] = df["score_sentiment"].apply(
    lambda x: 1 if x >= 0.05
    else -1 if x <= -0.05
    else 0
)

df[["text_content_anonymous", "sentiment"]].head(10)

                              text_content_anonymous  sentiment
0  Então é Fato Renato o áudio que eu ouvi no wha...          0
1  Saiu no YouTube do presidente a 8 horas atrás,...          1
2  É isso, nossa parte já foi quase toda feita. N...         -1
3           GENTE ACHEI ELES EM UMA SEITA MAÇONÁRICA          0
4                                                NaN          0
5  Kķkkkkk to rindo até agora....Quem disse q ia ...          1
6  *SE ALGUÉM TE PERGUNTAR O QUE FOI QUE BOLSONAR...          1
7                                                NaN          0
8                                                NaN          0
9  O Deputado Federal pelo NOVO e que foi candida...         -1

#### l) Eliminar as linhas cujo valor da coluna “text” contenham “trava-zaps”.

In [18]:
df = df[~df["trava_zap"]]
df.head(10)

,date_message,id_member_anonymous,id_group_anonymous,media,media_type,media_url,has_media,has_media_url,trava_zap,text_content_anonymous,...,id_message,message_type,messenger,media_name,media_md5,caracteres,words,viral,sharings,sentiment
0,2022-10-05 06:25:04,1078cc958f0febe28f4d03207660715f,12283e08a2eb5789201e105b34489ee7,NaN,NaN,NaN,False,False,False,Então é Fato Renato o áudio que eu ouvi no wha...,...,16385,Texto,telegram,NaN,NaN,110,20,False,1.0,0
1,2022-10-05 06:25:08,NaN,12283e08a2eb5789201e105b34489ee7,NaN,NaN,NaN,False,False,False,"Saiu no YouTube do presidente a 8 horas atrás,...",...,16386,Texto,telegram,NaN,NaN,141,23,False,1.0,1
2,2022-10-05 06:26:28,92a2d8fd7144074f659d1d29dc3751da,9f2d7394334eb224c061c9740b5748fc,NaN,NaN,NaN,False,False,False,"É isso, nossa parte já foi quase toda feita. N...",...,16366,Texto,telegram,NaN,NaN,350,59,False,1.0,-1
3,2022-10-05 06:27:28,d60aa38f62b4977426b70944af4aff72,c8f2de56550ed0bf85249608b7ead93d,94dca4cda503100ebfda7ce2bcc060eb.jpg,image/jpg,NaN,True,False,False,GENTE ACHEI ELES EM UMA SEITA MAÇONÁRICA,...,19281,Imagem,telegram,NaN,94dca4cda503100ebfda7ce2bcc060eb,40,7,False,1.0,0
4,2022-10-05 06:27:44,cd6979b0b5265f08468fa1689b6300ce,e56ec342fc599ebb4ed89655eb6f03aa,5ad5c8bbe9da93a37fecf3e5aa5b0637.jpg,image/jpg,NaN,True,False,False,NaN,...,507185,Imagem,telegram,NaN,5ad5c8bbe9da93a37fecf3e5aa5b0637,0,0,False,NaN,0
5,2022-10-05 06:28:30,NaN,b52442a5fbc459ae590dca0d215e32f9,NaN,NaN,NaN,False,False,False,Kķkkkkk to rindo até agora....Quem disse q ia ...,...,2735,Texto,telegram,NaN,NaN,133,25,False,1.0,1
6,2022-10-05 06:29:09,3b685d44ff197b98d7c9e99b8f6b5281,b52442a5fbc459ae590dca0d215e32f9,NaN,NaN,NaN,False,False,False,*SE ALGUÉM TE PERGUNTAR O QUE FOI QUE BOLSONAR...,...,2736,Texto,telegram,NaN,NaN,3669,618,False,1.0,1
7,2022-10-05 06:43:51,a7db4ff6a6d35e57be5bcf02f400cec6,857cd5311da1bdc15eb9e6918a47c6c6,4fe93a3772445f64173ef03db1fed83c.jpg,image/jpg,NaN,True,False,False,NaN,...,891535,Imagem,telegram,NaN,4fe93a3772445f64173ef03db1fed83c,0,0,False,NaN,0
8,2022-10-05 07:09:39,d2c33afd13a3165be031b6c244f7140d,d9c080b9db8cd9d0e88e870ce782c01a,30f29cca618753961cb97be95e87e3b4.jpg,image/jpg,NaN,True,False,False,NaN,...,314861,Imagem,telegram,NaN,30f29cca618753961cb97be95e87e3b4,0,0,False,NaN,0
9,2022-10-05 06:29:48,a7e85072244cae15446c9d517dc01a1a,b8a8737812c7fd7d3e0bdbb65ef6306f,NaN,NaN,www.marketingdigitalparavencer.com.br,False,True,False,O Deputado Federal pelo NOVO e que foi candida...,...,7248,Texto,telegram,NaN,NaN,1242,153,False,1.0,-1

#### m) Identificar inconsistências entre os atributos (features).

In [19]:
distinct_types = [
    (column, df[column].map(type).unique())
    for column in df.columns
]

for column, types in distinct_types:
    print(f"Coluna '{column}', Tipos distintos: {types}")

Coluna 'date_message', Tipos distintos: [<class 'str'>]
Coluna 'id_member_anonymous', Tipos distintos: [<class 'str'> <class 'float'>]
Coluna 'id_group_anonymous', Tipos distintos: [<class 'str'>]
Coluna 'media', Tipos distintos: [<class 'float'> <class 'str'>]
Coluna 'media_type', Tipos distintos: [<class 'float'> <class 'str'>]
Coluna 'media_url', Tipos distintos: [<class 'float'> <class 'str'>]
Coluna 'has_media', Tipos distintos: [<class 'bool'>]
Coluna 'has_media_url', Tipos distintos: [<class 'bool'>]
Coluna 'trava_zap', Tipos distintos: [<class 'bool'>]
Coluna 'text_content_anonymous', Tipos distintos: [<class 'str'> <class 'float'>]
Coluna 'dataset_info_id', Tipos distintos: [<class 'int'>]
Coluna 'date_system', Tipos distintos: [<class 'str'>]
Coluna 'score_sentiment', Tipos distintos: [<class 'float'>]
Coluna 'score_misinformation', Tipos distintos: [<class 'float'>]
Coluna 'id_message', Tipos distintos: [<class 'int'>]
Coluna 'message_type', Tipos distintos: [<class 'str'>]
Coluna 'messenger', Tipos distintos: [<class 'str'>]
Coluna 'media_name', Tipos distintos: [<class 'float'> <class 'str'>]
Coluna 'media_md5', Tipos distintos: [<class 'float'> <class 'str'>]
Coluna 'caracteres', Tipos distintos: [<class 'int'>]
Coluna 'words', Tipos distintos: [<class 'int'>]
Coluna 'viral', Tipos distintos: [<class 'bool'>]
Coluna 'sharings', Tipos distintos: [<class 'float'>]
Coluna 'sentiment', Tipos distintos: [<class 'int'>]